
@{
    ViewBag.Title = "Student Affairs | Import Thời Khóa Biểu";
    Layout = "~/Areas/studentaffairs/Views/Shared/_StudentAffairsLayout.cshtml";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    .upload-files-container {
        width: 100%;
        padding: 30px 60px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .drag-file-area {
        border: 2px dashed #7b2cbf;
        border-radius: 40px;
        margin: 10px 0 15px;
        padding: 30px 50px;
        width: 350px;
        text-align: center;
    }

        .drag-file-area .upload-icon {
            font-size: 50px;
        }

        .drag-file-area h3 {
            font-size: 26px;
            margin: 15px 0;
        }

        .drag-file-area label {
            font-size: 19px;
            display: unset !important;
        }

            .drag-file-area label .browse-files-text {
                color: #7b2cbf;
                font-weight: bolder;
                cursor: pointer;
            }

    .browse-files span {
        position: relative;
        top: -25px;
    }

    .default-file-input {
        opacity: 0;
    }

    .cannot-upload-message {
        background-color: #ffc6c4;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding: 5px 10px 5px 30px;
        border-radius: 5px;
        color: #BB0000;
        display: none;
    }

    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .cannot-upload-message span, .upload-button-icon {
        padding-right: 10px;
    }

        .cannot-upload-message span:last-child {
            padding-left: 20px;
            cursor: pointer;
        }

    .file-block {
        color: #f7fff7;
        background-color: #7b2cbf;
        transition: all 1s;
        width: 390px;
        position: relative;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 15px;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
    }

    .file-info {
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .file-icon {
        margin-right: 10px;
    }

    .file-name {
        padding: 0 3px;
        word-break: break-word;
    }

    .file-size {
        padding: 0 3px;
        width: auto;
        white-space: nowrap;
    }

    .remove-file-icon {
        cursor: pointer;
    }

    .progress-bar {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 4.5%;
        width: 0;
        height: 5px;
        border-radius: 25px;
        background-color: #4BB543;
    }

    .upload-button {
        font-family: 'Montserrat';
        background-color: #7b2cbf;
        color: #f7fff7;
        display: flex;
        align-items: center;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        margin: 10px;
        padding: 7.5px 50px;
        cursor: pointer;
    }
</style>

<script src="~/ActiveItemMenu/admin/admindashboard/thoikhoabieutemp.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h2 fw-bold">Import Thời Khóa Biểu</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="admin-dashboard.html">Dashboard</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Import Thời Khóa Biểu
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4" style="padding: 30px;">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="selectOne">
                                Học kỳ <span class="text-secondary">(Require)</span>
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>---- Chọn học kỳ ----</option>
                                @for (int i = 1; i <= 999; i++)
                                {
                                    <option value="@i">Học kỳ @i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
                        <div class="form-container form-control" style="display: flex; justify-content: center;">
                            <div class="upload-files-container">
                                <div class="drag-file-area">
                                    <span class="material-icons-outlined upload-icon"> file_upload </span>
                                    <h3 class="dynamic-message"> Kéo & thả file import </h3>
                                    <label class="label">
                                        hoặc <span class="browse-files">
                                            <input type="file" id="file-import-tkb" class="default-file-input" />
                                            <span class="browse-files-text">chọn file</span> <span>từ thiết bị</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="cannot-upload-message">
                                    <span class="material-icons-outlined">error</span> Vui lòng chọn file import trước
                                    <span class="material-icons-outlined cancel-alert-button">cancel</span>
                                </span>
                                <div class="file-block">
                                    <div class="file-info">
                                        <span class="material-icons-outlined file-icon">description</span>
                                        <span class="file-name"> </span> | <span class="file-size">  </span>
                                    </div>
                                    <span class="material-icons remove-file-icon">delete</span>
                                    <div class="progress-bar"> </div>
                                </div>
                                <button type="button" class="upload-button"> Import </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card text-center">
                <div class="card-header">
                    Tải xuống biểu mẫu
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mẫu Import Thời Khóa Biểu</h5>
                    <p class="card-text">Chọn nút tải xuống bên dưới để tải biểu mẫu Import thời khóa biểu (.xlsx)</p>
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-earmark-arrow-down me-1"></i>
                        Tải xuống
                    </a>
                </div>
                <div class="card-footer text-muted">
                    Cập nhật cuối: @DateTime.Now.ToString("HH:mm dd/MM/yyyy")
                </div>
            </div>

        </div>
    </div>
</section>
<script src="~/Content/assets/libs/moment/moment-with-locales.min.js"></script>
<script src="~/Content/assets/libs/moment/moment.min.js"></script>
<script src="~/Content/assets/js/vendors/calendar.js"></script>
<script src="~/ActiveItemMenu/studentaffairs/studentaffairstimetable/import.js"></script>

<script>
    $(document).ready(function () {
        ImportUploadFile();

        $('body').on('click', '.browse-files-text', function () {
            ImportUploadFile();
        });

        $('body').on('click', '.upload-button', function () {
            ImportUploadFile();
        });

        $('body').on('click', '[id="file-import-tkb"]', function () {
            ImportUploadFile();
        });

        function ImportUploadFile() {
            var isAdvancedUpload = function () {
                var div = document.createElement('div');
                return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
            }();

            let draggableFileArea = document.querySelector(".drag-file-area");
            let browseFileText = document.querySelector(".browse-files");
            let uploadIcon = document.querySelector(".upload-icon");
            let dragDropText = document.querySelector(".dynamic-message");
            let fileInput = document.querySelector(".default-file-input");
            let cannotUploadMessage = document.querySelector(".cannot-upload-message");
            let cancelAlertButton = document.querySelector(".cancel-alert-button");
            let uploadedFile = document.querySelector(".file-block");
            let fileName = document.querySelector(".file-name");
            let fileSize = document.querySelector(".file-size");
            let progressBar = document.querySelector(".progress-bar");
            let removeFileButton = document.querySelector(".remove-file-icon");
            let uploadButton = document.querySelector(".upload-button");
            let fileFlag = 0;

            fileInput.addEventListener("click", () => {
                fileInput.value = '';
                console.log(fileInput.value);
            });

            fileInput.addEventListener("change", e => {
                console.log(" > " + fileInput.value)
                uploadIcon.innerHTML = 'check_circle';
                dragDropText.innerHTML = 'Đã chọn file Import';
                document.querySelector(".label").innerHTML = `Kéo & thả file import <br> hoặc <span class="browse-files"> <input hidden id="file-import-tkb" type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: 0;"> chọn file </span></span> từ thiết bị`;
                uploadButton.innerHTML = `Import`;
                fileName.innerHTML = fileInput.files[0].name;
                fileSize.innerHTML = (fileInput.files[0].size / 1024).toFixed(1) + " KB";
                uploadedFile.style.cssText = "display: flex;";
                progressBar.style.width = 0;
                fileFlag = 0;
            });

            uploadButton.addEventListener("click", () => {
                let isFileUploaded = fileInput.value;
                if (isFileUploaded != '' || isFileUploaded != null) {
                    if (fileFlag == 0) {
                        fileFlag = 1;
                        var width = 0;
                        var id = setInterval(frame, 50);
                        function frame() {
                            if (width >= 355) {
                                clearInterval(id);
                                uploadButton.innerHTML = `<span class="material-icons-outlined upload-button-icon"> check_circle </span> Đã import`;
                            } else {
                                width += 5;
                                progressBar.style.width = width + "px";
                            }
                        }
                    }
                } else {
                    cannotUploadMessage.style.cssText = "display: flex; animation: fadeIn linear 1.5s;";
                }
            });

            cancelAlertButton.addEventListener("click", () => {
                cannotUploadMessage.style.cssText = "display: none;";
            });

            if (isAdvancedUpload) {
                ["drag", "dragstart", "dragend", "dragover", "dragenter", "dragleave", "drop"].forEach(evt =>
                    draggableFileArea.addEventListener(evt, e => {
                        e.preventDefault();
                        e.stopPropagation();
                    })
                );

                ["dragover", "dragenter"].forEach(evt => {
                    draggableFileArea.addEventListener(evt, e => {
                        e.preventDefault();
                        e.stopPropagation();
                        uploadIcon.innerHTML = 'file_download';
                        dragDropText.innerHTML = 'Kéo & thả file import';
                    });
                });

                draggableFileArea.addEventListener("drop", e => {
                    uploadIcon.innerHTML = 'check_circle';
                    dragDropText.innerHTML = 'Đã chọn file Import!';
                    document.querySelector(".label").innerHTML = `Kéo & thả file import <br> hoặc <span class="browse-files"> <input hidden id="file-import-tkb" type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: 0;"> chọn file </span></span> từ thiết bị`;
                    uploadButton.innerHTML = `Import`;

                    let files = e.dataTransfer.files;
                    fileInput.files = files;
                    console.log(files[0].name + " " + files[0].size);
                    console.log(document.querySelector(".default-file-input").value);
                    fileName.innerHTML = files[0].name;
                    fileSize.innerHTML = (files[0].size / 1024).toFixed(1) + " KB";
                    uploadedFile.style.cssText = "display: flex;";
                    progressBar.style.width = 0;
                    fileFlag = 0;
                });
            }

            removeFileButton.addEventListener("click", () => {
                uploadedFile.style.cssText = "display: none;";
                fileInput.value = '';
                uploadIcon.innerHTML = 'file_upload';
                dragDropText.innerHTML = 'Kéo & thả file import';
                document.querySelector(".label").innerHTML = `hoặc <span class="browse-files"> <input id="file-import-tkb" type="file" class="default-file-input"/> <span class="browse-files-text">chọn file</span> <span>từ thiết bị</span> </span>`;
                uploadButton.innerHTML = `Import`;
            });
        }
    });

</script>