@model QuanLyCongTacTroGiangKhoaCNTT.Models.Nganh

<div class="modal-body" id="capnhatnganh-partial">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="editmanganh">Mã ngành</label>
                <input hidden id="idn" value="@Model.id" />
                <input value="@Model.MaNganh" disabled type="number" id="editmanganh" class="form-control" placeholder="Nhập mã ngành">
                <span class="text-danger" id="valid-editmanganh"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="edittennganh">Tên ngành <span class="text-danger">*</span></label>
                <input value="@Model.TenNganh" type="text" id="edittennganh" class="form-control" placeholder="Nhập tên ngành">
                <span class="text-danger" id="valid-edittennganh"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="edittenviettat">Tên viết tắt <span class="text-danger">*</span></label>
                <input value="@Model.TenVietTat" type="text" id="edittenviettat" class="form-control" placeholder="Nhập tên viết tắt của ngành">
                <span class="text-danger" id="valid-edittenviettat"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="editctdt">
                    Chương trình đào tạo <span class="text-danger">*</span>
                </label>
                <select class="form-select" id="editctdt">
                    @if (Model.CTDT.Equals("Tiêu chuẩn"))
                    {
                        <option value="Đặc biệt">Chương trình Đặc biệt</option>
                        <option selected value="Tiêu chuẩn">Chương trình Tiêu chuẩn</option>
                    }
                    else
                    {
                        <option selected value="Đặc biệt">Chương trình Đặc biệt</option>
                        <option value="Tiêu chuẩn">Chương trình Tiêu chuẩn</option>
                    }
                </select>
                <span class="text-danger" id="valid-editctdt"></span>
            </div>
        </div>

    </div>
</div>