@{
    ViewBag.Title = "Thời Khóa Biểu";
    Layout = Session["layout"].ToString();

    int currentYear = DateTime.Now.Year;
}
<link href="~/Content/assets/libs/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
<script src="~/ActiveItemMenu/Timetable/index.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h2 fw-bold">Xem Thời Khóa Biểu</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Thời Khóa Biểu
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Xem Thời Khóa Biểu
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card" id="pageload">
                <h3 class="text-center mt-4 mb-3"><span class="spinner-border spinner-border-sm me-2" style="width: 18px; height: 18px" role="status" aria-hidden="true"></span>Đang tải...</h3>
            </div>
        </div>
    </div>
</section>

<section style="display: none" id="table-export-data">
</section>

<script src="~/Validation/department/timetable/load.js"></script>
<script src="~/Validation/department/timetable/filterviewtimtable.js"></script>
<script src="~/Validation/department/timetable/exportfile.js"></script>
