@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    var models = new CongTacTroGiangKhoaCNTTEntities();

    ViewBag.Title = "Trang Chủ";
    Layout = Session["layout"].ToString();
    int roleId = Int32.Parse(Session["user-role-id"].ToString());

    bool checkUpdate = Convert.ToBoolean(Session["user-update-info"].ToString());
}

<script src="~/ActiveItemMenu/Statisticals/index.js"></script>


<section class="container-fluid p-4 ">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- page header -->
            <div class="border-bottom pb-3 mb-3 d-lg-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Bảng Thống Kê Trợ Giảng</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="d-flex">
                    <select class="selectpicker me-3 w-100">
                        <option>Công Nghệ Thông Tin</option>
                        <option>Kỹ Thuật Phần Mềm</option>
                    </select>
                    <select class="selectpicker me-3 w-100">
                        <option>Năm 2020 - 2023</option>
                        <option>Năm 2024 - 2027</option>
                    </select>
                    <a href="#" class="btn btn-primary text-nowrap">Lọc thống kê</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="mb-0">Số Lượng Trợ Giảng</h4>
                </div>
                <!-- card body -->
                <div class="card-body">
                    <!-- chart -->
                    <div id="sessionChart"></div>
                </div>
            </div>

        </div>

    </div>
</section>

<script>
    $(document).ready(function () {
        var options = {
            series: [{
                name: "Đã đăng ký:",
                data: [600, 1e3, 400, 2e3, 500, 900, 2500, 1800, 3800],
                colors: [window.theme.primary]
            }, {
                name: "Được duyệt:",
                data: [1e3, 2e3, 800, 1200, 300, 1900, 1600, 2e3, 1e3]
            }, {
                name: "Tổng công việc:",
                data: [2200, 1e3, 3400, 900, 500, 2500, 3e3, 1e3, 2500]
            }],
            chart: {
                toolbar: {
                    show: !1
                },
                height: 400,
                type: "line",
                zoom: {
                    enabled: !1
                }
            },
            dataLabels: {
                enabled: !1
            },
            stroke: {
                width: [4, 3, 3],
                curve: "smooth",
                dashArray: [0, 5, 4]
            },
            legend: {
                show: !1
            },
            colors: [window.theme.primary, window.theme.success, window.theme.warning],
            markers: {
                size: 0,
                hover: {
                    sizeOffset: 6
                }
            },
            xaxis: {
                categories: ["HK 231", "HK 232", "HK 233", "HK 241", "HK 242", "HK 243", "HK 251", "HK 252", "HK 253", "HK 261", "HK 262", "HK 263"],
                labels: {
                    style: {
                        fontSize: "12px",
                        fontFamily: "Inter",
                        cssClass: "apexcharts-xaxis-label",
                        colors: window.theme.gray500
                    }
                },
                axisBorder: {
                    show: !0,
                    color: window.theme.borderColor,
                    height: 0,
                    width: "100%",
                    offsetX: 0,
                    offsetY: 0
                },
                axisTicks: {
                    show: !0,
                    borderType: "solid",
                    color: window.theme.borderColor,
                    height: 6,
                    offsetX: 0,
                    offsetY: 0
                }
            },
            yaxis: {
                labels: {
                    style: {
                        fontSize: "12px",
                        fontFamily: "Inter",
                        cssClass: "apexcharts-xaxis-label"
                    },
                    offsetX: -12,
                    offsetY: 0
                }
            },
            tooltip: {
                y: [{
                    title: {
                        formatter: function (e) {
                            return e
                        }
                    }
                }, {
                    title: {
                        formatter: function (e) {
                            return e
                        }
                    }
                }, {
                    title: {
                        formatter: function (e) {
                            return e
                        }
                    }
                }]
            },
            grid: {
                borderColor: window.theme.borderColor
            }
        };

        var chart = new ApexCharts(document.querySelector("#sessionChart"), options);
        chart.render();
    });
</script>